@import "@unocss/reset/tailwind.css";

body {
    @apply font-sans bg-background text-text font-body min-h-screen;
    @apply flex justify-center;
}

#__nuxt {
    @apply flex flex-col w-screen h-screen items-center;
}

:root {
    --color-primary: theme('colors.primary');
    --color-secondary: theme('colors.secondary');

    --color-background: theme('colors.background');
    --color-background-secondary: theme('colors.background-secondary');
}

h1 { @apply font-preset-h1; }
h2 { @apply font-preset-h2; }
h3 { @apply font-preset-h3; }


u {
    @apply underline-primary;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}