@import "@unocss/reset/tailwind.css";

body {
    @apply font-sans bg-background text-text font-preset-body lt-sm:font-preset-mobile-body min-h-screen;
    @apply flex justify-center;
}

#__nuxt {
    @apply flex flex-col w-screen h-screen items-center;
}

:root {
    --color-primary: theme('colors.primary');
    --color-secondary: theme('colors.secondary');
    --color-tetriary: theme('colors.tertiary');

    --color-background: theme('colors.background');
    --color-background-secondary: theme('colors.background-secondary');
}

h1 { @apply font-preset-h1 lt-sm:font-preset-mobile-h1; }
h2 { @apply font-preset-h2 lt-sm:font-preset-mobile-h2; }
h3 { @apply font-preset-h3 lt-sm:font-preset-mobile-h3; }

*[data-content-id] {
    h1, h2, h3, h4, h5 {
        @apply py-8;
    }

    p {
        @apply pb-2;
    }
}

u {
    @apply underline-primary;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}

* {
    @apply text-wrap;
}